<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="haruhi" class="sos.nagato.test.ZZZ">
        <property name="people" ref="nagato" />
    </bean>
    <bean id="nagato" class="sos.nagato.test.XXX">
        <property name="name" value="hhh" />
    </bean>
</beans>